/storage/*
!/storage/.gitkeep
/bin/
/build/
/release/
/SHA256SUMS.json
**/target/
**/node_modules/
*.zip
*.log
.env
.env.*
signing.key
*.qcow2

/source/state/
/build/
**/__pycache__/
*.pyc
/source/public/
